.button
  margin-top 10px
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.225) 
  background-color #03a9f4
  border none
  color white
  padding 15px 32px
  text-align center
  text-decoration none
  display inline-block
  font-size 16px
  cursor pointer
  &:hover
    box-shadow 0 4px 11px 0px rgba(0,0,0,0.375)
