doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title CRUD-PWA
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="crud-pwa">
    <meta name="apple-mobile-web-app-title" content="crud-pwa">
    <meta name="theme-color" content="#03a9f4">
    <meta name="msapplication-navbutton-color" content="#03a9f4">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="https://andresattler.github.io/CRUD-PWA/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  body
    #app
